/*Сброс стилей*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.wrapper {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1960px;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid grey;
}

.button {
    margin: 10px;
    padding: 5px 8px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    transition: .5s;
    overflow: hidden;
}

.button::before,
.button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #218294;
    border-radius: 10px;
    top:0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.button::after{
    opacity: 1;
    transition-delay: .2s;
}

.button:hover::before,
.button:hover::after{
    left:0;
}

.addToCart, .close-cart{
    float: right;
}

.change-quantity {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: antiquewhite;
}

main {
    margin-top: 10px;
}

.goods-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goods-item {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 20%;
    min-width: 250px;
    text-align: center;
    margin-top: 5px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.cart-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    }

.cart-item ul{
    border-bottom: 1px solid black;
}

.empty-cart{
    display: inline-block;
    width: 100%;
}

.modal-header p {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer{
    display: inline-block;
    width: 100%;
}

.goods-search{
    border: 1px solid black;
    border-radius: 10px;
}
